@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*
{
    font-family: 'Mulish', sans-serif;
}

.header_text
{
    font-size: 18px;
    margin: 5px;
}

.container
{
    width: 280px;
    height: 90px;
}